.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  justify-content: center;
  overflow: hidden;
}

.categoryContainer {
  min-width: 120px;
  height: fit-content;
  background-color: #7e6c60;
  padding: 1rem;
  margin-top: 1rem;
}