.card{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.6rem 2.5rem;
    padding: 0.8rem;
    max-width: 290px;
    height:400px;

}

.cardImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardName{
    font-size: 1.2rem;
    padding: 0.3rem;
}

.cardCategory{
    font-size: 0.8rem;
    color: blueviolet;
    font-weight: bold;
    padding: 0.3rem;
}

.cardDescription{
    font-size: 0.9rem;
    padding: 0.3rem;
}

.cardPrice{
    font-size: 1.2rem;
    font-weight: bold;
    color: blueviolet;
    padding: 0.3rem;
}


.cardActions{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardActions button{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 1rem 2 rem;
    border-radius: 0.2rem;
}

.cardButton{
    width: 7rem;
    height: 2rem;
}
