.cardDetail{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.6rem 2.5rem;
    padding: 0.8rem;
    height:400px;
}


.cardImageDetail{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.cardContentDetail{
    justify-content: center;
    align-items: center;
}

.cardNameDetail{
    font-size: 2.2rem;
    padding: 0.3rem;
    text-align: center;
}

.cardCategoryDetail{
    font-size: 1.3rem;
    color: blueviolet;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.cardDescriptionDetail{
    font-size: 1.3rem;
    min-height: 4rem;
    text-align: center;
    padding-inline: 50px;
}

.cardPriceDetail{
    font-size: 1.5rem;
    font-weight: bold;
    color: blueviolet;
    padding: 0.7rem;
    text-align: center;
}


.cardActionsDetail{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardActionsDetail button{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 1rem 2 rem;
    border-radius: 0.2rem;
}

.cardButtonDetail{
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    
}
